/*
0px - 600px:  Phone
600px - 900px:   Portrait Mode Tablet
900px - 1200px:   Landscape Mode Tablet
1200px - 1800px:    Normal Styles
1800px+:             Big Desktop

$breakpoint argument choices:
~ phone
~ tab-port
~ tab-land
~ big-desktop
*/
@keyframes moveInLeft {
  0% {
    opacity: 0; }
  75% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0; }
  75% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0; }
  75% {
    transform: translateY(1rem);
    opacity: .5; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation-name: moveInLeft;
    animation-duration: .2s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation-duration: .5s;
    padding-top: 5rem; }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: .5rem; } }
    .heading-primary--sub-1 {
      animation-name: moveInLeft; }
    .heading-primary--sub-2 {
      animation-name: moveInUp; }
    .heading-primary--sub-3 {
      animation-name: moveInRight; }

.bg-video {
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  object-fit: cover;
  text-align: center; }
  .bg-video:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1; }
  .bg-video__header:before {
    background-image: linear-gradient(to right bottom, rgba(132, 206, 235, 0.9), rgba(136, 96, 208, 0.9)); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 3.5rem;
  transition: all .4s ease-in-out;
  text-align: center; }

.btn--header {
  color: #fff; }
  .btn--header:not(:last-child) {
    margin-right: 5rem; }
  .btn--header:hover {
    transform: rotate(360deg) scale(1.4);
    color: #8860D0; }

.btn--card {
  background-color: transparent;
  padding: 1rem;
  width: 100%;
  transition: all .2s ease; }
  .btn--card:hover {
    display: block;
    color: #C1C8E4;
    background-color: #5AB9EA; }
  .btn--card:active, .btn--card:focus {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15); }

.card {
  perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.25);
    transition: all .8s ease; }
    .card__side--front {
      background-color: #8860D0; }
    .card__side--back {
      background-color: #8860D0;
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__image {
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem; }
    .card__image--1 {
      --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      background-image: linear-gradient(to right bottom, rgba(132, 206, 235, 0.9), rgba(136, 96, 208, 0.9)), url(../img/FabFlix.png); }
    .card__image--2 {
      --webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
      background-image: linear-gradient(to right bottom, rgba(132, 206, 235, 0.9), rgba(136, 96, 208, 0.9)), url(../img/Calorie-Tracker.png); }
    .card__image--3 {
      --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      background-image: linear-gradient(to right bottom, rgba(132, 206, 235, 0.9), rgba(136, 96, 208, 0.9)), url(../img/Blog_App.gif); }
    .card__image--4 {
      --webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
      background-image: linear-gradient(to right bottom, rgba(132, 206, 235, 0.9), rgba(136, 96, 208, 0.9)), url(../img/Craps_Game.gif); }
  .card__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    top: 10rem; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right bottom, rgba(132, 206, 235, 0.9), rgba(136, 96, 208, 0.9)); }
  .card__details {
    padding: 3rem;
    font-size: 1.5rem; }
    .card__details ul {
      list-style-type: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        padding: .2rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 0.1rem solid #5AB9EA; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center; }
  .card__text {
    font-size: 2.5rem;
    text-align: center; }
  @media only screen and (max-width: 75em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 0;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        height: auto;
        padding: 1rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 4rem;
        height: auto; }
      .card__text {
        font-size: 2rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  display: block;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 40%;
    text-align: center; }
  .header__icon-box {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation-duration: .5s;
    padding-top: 12rem; }
    @media (max-width: 75em) {
      .header__icon-box {
        padding-top: 6rem;
        letter-spacing: 0;
        top: 65%; } }

.section-projects {
  background-color: #C1C8E4;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-projects {
      padding: 22rem 0; } }
