// COLOR
$color-primary: #5680E9;
$color-primary-light: #84CEEB;
$color-primary-dark: #8860D0;
$color-primary-dark-2: #5AB9EA;
$color-primary-light-2: #C1C8E4;

$color-white: #fff;
$color-black: #000;
$color-gray-light: rgb(205, 187, 216);

// GRADIENTS
$gradient_primary: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.9),
            rgba($color-primary-dark, 0.9));

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

