.header {
    width: 100%;
    height: 95vh;
    background-size: cover;
    background-position: top;
    position: relative;
    display: block;
    clip-path: polygon( 0 0, 100% 0, 100% 75vh, 0 100% );

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        @include absCenter;
        top: 40%;
        text-align: center;
    }

    &__icon-box {
        display: inline-block;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: .5rem;
        animation-duration: .5s;
        padding-top: 12rem;

        @include respond( tab-land ) {
            padding-top: 6rem;
            letter-spacing: 0;
            top: 65%;
        }

    }
}