.bg-video {
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    object-fit: cover;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    &__header:before {
        background-image: $gradient_primary;
    }
}