.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        border-radius: 10rem;
        cursor: pointer;
        font-size: 4rem;
        transition: all .4s ease-in-out;
        text-align: center;
        color: $color-white;
    }

    &:hover {
        transform: rotate( 360deg ) scale(1.4);
        color: $color-primary-dark;
    }

    &:not(:last-child) {
        margin-right: 5rem;
    }
}