.card {
    perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-white, .25);
        transition: all .8s ease;
        &--front {
            // Come Back to This
            background-color: $color-primary-dark;
        }

        &--back {
            background-color: $color-primary-dark;
            transform: rotateY(180deg);
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__image {
        background-size: cover;
        height: 20rem;
        background-blend-mode: screen;
        border-top-left-radius: .4rem;
        border-top-right-radius: .4rem;

        &--1 {
            --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            background-image: $gradient-primary, url(../img/FabFlix.png);
        }

        &--2 {
            --webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
            background-image: $gradient-primary, url(../img/Calorie-Tracker.png);
        }


    }

    &__heading {
        @include absCenter;
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        top: 10rem;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: $gradient-primary;
    }

    &__details {
        padding: 3rem;
        font-size: 1.5rem;

        ul {
            list-style-type: none;
            width: 80%;
            margin: 0 auto;

            li {
                padding: .2rem;

                &:not(:last-child) {
                    border-bottom: .1rem solid $color-primary-dark-2;
                }
            }
        }
    }

    &__cta {
        @include absCenter;
        width: 80%;
        text-align: center;
    }

    &__text {
        font-size: 2.5rem;
        text-align: center;
    }

}