@keyframes moveInLeft {
    0% {
        opacity: 0;
    }

    75% {
        transform: translateX( 1rem );
    }

    100% {
        opacity: 1;
        transform: translateX( 0 );
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
    }

    75% {
        transform: translateX( -1rem );
    }

    100% {
        opacity: 1;
        transform: translateX( 0 );
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
    }

    75% {
        transform: translateY( 1rem );
        opacity: .5;
    }

    100% {
        opacity: 1;
        transform: translateY( 0 );
    }
}

@keyframes wave {
    0% {
        transform: rotate( 0deg ) scale(1) ;
    }

    50% {
        transform: rotate(180deg) scale(0.975);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1) ;
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes color {
    0% {
        color: $color-primary-dark ;
        transform: scale(1) ;
    }

    50% {
        color: $color-primary-light ;
        transform: scale(1.25) ;
    }

    100% {
        transfocolorrm: $color-primary-dark-2 ;
        transform: scale(1) ;
    }
}

@keyframes colorPulse {
    0% {
        color: $color-primary-dark ;
        background-image: $gradient-secondary;
    }

    50% {
        color: $color-primary-light-2;
        background-color: $color-primary;
    }

    100% {
        transfocolorrm: $color-primary-dark-2 ;
        background-image: $gradient-secondary;
    }
}